/*useful

border: 5px solid #555;
cursor: url(other/cursor.ico), default ;
draggable="false"
html {
  filter: grayscale(100%) contrast(100%);
}
*/

:root {
  --color-1: #000000; /* Black */
  --color-2: #1D2B53; /* Dark Blue */
  --color-3: #7E2553; /* Purple */
  --color-4: #008751; /* Dark Green */
  --color-5: #AB5236; /* Brown */
  --color-6: #5F574F; /* Dark Gray */
  --color-7: #C2C3C7; /* Light Gray */
  --color-8: #FFF1E8; /* White */
  --color-9: #FF004D; /* Red */
  --color-10: #FFA300; /* Orange */
  --color-11: #FFEC27; /* Yellow */
  --color-12: #00E436; /* Green */
  --color-13: #29ADFF; /* Blue */
  --color-14: #83769C; /* Lavender */
  --color-15: #FF77A8; /* Pink */
  --color-16: #FFCCAA; /* Peach */
}


/* Simulated CRT scanlines */
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(
    rgba(0, 0, 0, 0.3) 0px,
    rgba(0, 0, 0, 0.1) 1px,
    transparent 2px,
    transparent 4px
  );
  pointer-events: none;
  animation: scanlines 0.1s infinite linear;
  z-index: 9999;
  opacity: 50%;
}





html, body {
  cursor: url(other/cursor.ico), default ;
  background-color: black;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: -20;
}

/**/  
.container {
  width: 38vh;
  height: 73vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  z-index: 2;
}





body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;

}


.header {
    position: relative;
    font-family: 'Arial';
    color: whitesmoke;
    background-color: #000000;
    padding: 10px;
    font-size:4vh;

    margin-bottom: 0vh;
    /*margin-top: -1vh; */
    text-align: center; 
    user-select: none; 
    -webkit-user-drag: none; 
    z-index: 99;
}



.MainImage {
    position: relative;
    display:flex;
    margin-left: auto;
    margin-right: auto;
    width: 28vh; /*28*/
    min-width: 15vw; /*15*/
    z-index: 2;
    opacity: 100%; /* was 90% */
    backdrop-filter: blur(5px);
}
.MainImage:hover{
  background-color: #11111185;
}

.SecondImage {
    user-select: none; 
    -webkit-user-drag: none;
    position: relative;
    display:flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1vw; 
    margin-bottom: 1vh;

    min-width: 5vw; /*35*/
    width: 55vh; /*45*/
    max-width: 100%;
    margin-bottom: 2vh;
    backdrop-filter: blur(5px);

}

.SecondImage:hover{
  background-color: #11111185;

}


.introduction {
  position: relative; 
  font-size:3vh; 

  text-align: center; 
  margin-top: -0.5vh; 
  color: whitesmoke; 
  background-color: #000000;
  padding: 10px;
  font-family: Helmet-Regular; 
  user-select: none; 
  -webkit-user-drag: none;
}

.intro-text {
  font-family: Helmet-Regular; 
  color: whitesmoke;
  font-size: 2vh;
  margin-bottom: 1vh; 
  margin-top: -0.5vh;
}

html, body {
  scrollbar-width: 1px;

}

.video1 {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    pointer-events: none;
    min-height: 100%;
    max-width: 130vh;
    height: auto;
    opacity: 35%; /*15*/
    transform: translateY(-50) translateX(50); /*good way to center stuff*/
    scroll-snap-type: y mandatory;
    z-index: -1;
}

/**/
.videoback {
  position: fixed;

  width: 38vh;
  height: 73vh;
  pointer-events: none;

  transform: translateY(-50) translateX(50);

  z-index: 1;
}



.video2 {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  pointer-events: none;
  min-height: 100%;
  height: auto;
  opacity: 8%;

  transform: translateY(-50) translateX(50); /*good way to center stuff*/
  scroll-snap-type: y mandatory;
  z-index: -3;
}


.buttonbox {
  
    opacity: 100%;
    
    height: auto;
    width: auto;


    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-top: 1%;

    font-family: PixelOperator;
    font-size: xx-large;

    color: whitesmoke;
    border-color: whitesmoke;
    background-color: #11111100;

    
    padding: 1.5vh;
    backdrop-filter: blur(5px);
    text-decoration: none;
    cursor:none;


    user-select: none;
    transition-duration: 0.1s;

    z-index: 3 ;

    

}

.buttonbox:hover {
    border-color: #004990;
    color: #004990;
    background-color: #11111185;

}

.buttonboxPink:hover {
  border-color: #ff0000;
  color: #ff0000;
  box-shadow: 0px 0px 15px rgb(255, 28, 225);
}



@font-face {
    font-family: 'PixelOperator' ;
    src: url(other/font/PixelOperatorMono-Bold.ttf);
  
}

@font-face {
  font-family: "Helmet-Regular";
  src: url(other/font/Helmet-Regular.ttf);
}



*{

  } 
  .loader{
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(0, 0, 0);
    min-height: 120%;
    min-width: 100%;
    
    height: 5vh;
    width: 5vh;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 90%;

    z-index: 8;

    margin-left: 50%;
    margin-right: 50%;
    top: 40%; /* 70 */
    transform: translate(-50%, -50%);
    top: 40%; /* 70 */
  }


  
  .disppear{
    animation: vanish 0.5s ;

  }
  @keyframes vanish {
    100%{
      opacity: 0;
      visibility: hidden;

    }
}



.firstclick {

  text-align: left;
  position: fixed;
  justify-content: center;
  display: flex;
  z-index: 9;
  min-width: 200px;
  margin-left: 15%;
  margin-right: 50%;
  top: 25%; /* 70 */
  opacity: 1;
  transition: opacity 250ms ease-in;

  
}

.firstclick:active {
  opacity: 0%;
  display: none;
  

}

.button123 {
  opacity: 1;
  text-align: left;
  position: fixed;
  justify-content: center;
  z-index: 9;
}
.button123:active {
  opacity: 0;
}



@keyframes glowing {
  0% { background-position: 0 0;}
  50% { background-position: 400% 0;}
  100% {background-position: 0 0;}
}
*/


#dirrection {
  position: absolute;
  z-index: 999;
  vertical-align: middle;
  transform: rotateZ(0.5turn);
  transform: translateY(-50) translateX(50);
  
}

.buttonbox.closest {
  border-color: #004990;
  color: #004990;

}

.buttonboxPink.closest {
  border-color: #ff0000;
  color: #ff0000;
  box-shadow: 0px 0px 15px rgb(255, 28, 225);
}


.fcircle {
  position: fixed; 
  height: 13vw;
  max-height: 20%;
  bottom: 2%; 
  right: 2%;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  z-index: 2;


}
/*
.fcircle2 {
  position: fixed; 
  height: 13vw;
  max-height: 20%;
  top: 2%; 
  left: 2%;
  background-color: #00000000;
  border-radius: 50%v;
  z-index: 2;
  background-size: cover;
  backdrop-filter: blur(50px);
  cursor: url(other/grab.ico), default;

}
*/
.rotate180 {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.gradient-text {
  color: linear-gradient(to right, red, blue);
}


.casual-text {
  color: snow;

  font-family: arial;
  margin-left: 0.5vh;
  margin-top: 0vh;
  font-size: 2vh;
}



.imageside {

  width: 25vh;

  margin-left:1vh;
  margin-top: 1vh;
}

.sidetext {
  display: grid;
  grid-template-columns: 0fr 5fr 1fr;
  column-gap: 1px;
}


.rainbow {
  position: fixed;
  width: 150vh;
  z-index: 1;
  opacity: 90%;
  margin-bottom: -23vh;
  user-select: none;
  -webkit-user-drag: none;
}

.gnome {

  position: fixed;


  bottom: 0vh;
  object-fit: cover;

}
.gnome2{
  width:auto; 
  height:10vh;
  user-select: none;
  -webkit-user-drag: none;
}

