/*useful

border: 5px solid #555;
cursor: url(other/cursor.ico), default ;
draggable="false"
html {
filter: grayscale(100%) contrast(100%);
}
*/

html, body {
    cursor: url(other/cursorDot.ico);
}

@font-face {
    font-family: 'PixelOperator' ;
    src: url(other/font/PixelOperatorMono-Bold.ttf);

}

@font-face {
    font-family: "Helmet-Regular";
    src: url(other/font/Helmet-Regular.ttf);
}

@font-face {
    font-family: "lucon";
    src: url(other/font/lucon.ttf);
}

@font-face {
    font-family: "ms-sans-serif-1";
    src: url(other/font/ms-sans-serif-1.ttf);
}

@font-face {
    font-family: "garamond";
    src: url(other/font/EBGaramond-Italic-VariableFont_wght.ttf);
}
@font-face {
    font-family: "garamond2";
    src: url(other/font/EBGaramond-VariableFont_wght.ttf);
}

html, body {
    scrollbar-width: 1px;
    
}
html, body {
    cursor: url(other/cursorDot.ico), default;
    /* just change the cursor.ico path to your location */
}
/* Simulated CRT scanlines */
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(
        rgba(0, 0, 0, 0.3) 0px,
        rgba(0, 0, 0, 0.1) 1px,
        transparent 2px,
        transparent 4px
    );
    pointer-events: none;
    animation: scanlines 0.1s infinite linear;
    z-index: 9999;
    opacity: 50%;
}
/* Simulated CRT scanlines */

/* i forgot what this is but it holds the website together */
html, body {
    cursor: url(other/CursorDot.ico), default ;
    background-color: black;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: -20;
}
/* i forgot what this is but it holds the website together */



.MainImage {
    user-select: none; 
    -webkit-user-drag: none;
    position: fixed;
    top: 12vh;
    width: 40vw; 
    right: 50vh;
    z-index: 2;
    opacity: 100%; 
    backdrop-filter: blur(5px);

    max-width: 20%;
}

.quote {
    user-select: none; 
    -webkit-user-drag: none;
    position: fixed;

    margin-top: 5vw; 
    z-index: 2;
    min-width: 5vw; 
    width: 75vh;
    
    max-width: 40%;


    right: 32vh;
    margin-bottom: 2vh;
    /*backdrop-filter: blur(5px);*/

}

.background {
    position: absolute;

    color: #d6d6d6;
    z-index: 0;
    cursor: url(other/CursorDot.ico), default ;
    left: -2vw;
    height: 100vh ;
    width: 100vh;
    font-size: 1.5vh;
    
}

.links {
    position: absolute;

    left: 4vh;
    size: 50vw;
    font-size: 1.5vh;
    cursor: url(other/CursorDot.ico), default ;
}
.links :hover {
    text-decoration:line-through ;

}


.link1 {
    top: 13.5vh;
    color: rgb(0, 13, 255);
}
.link2 {
    top: 27vh;
    color: #ffffff;
}
.link3 {
    top: 40.5vh;
    color: rgb(255, 0, 0);
}

.bggif {
    opacity: 10%;
    z-index: -1;
    min-width: 100%;
    min-height: 100%;
}